---
title: Chris
---
<!doctype html>

<html>
{% include head.html %}
<body>
  {% include masthead.html %}

  <stratum id="about-me">
    <stack>
      <h1>Hello. I'm Chris.</h1>
      <p>I am a design technologist in Amsterdam. I work across research, design, and development. I have a background in human-computer interaction and architecture. Feel free to reach out to discuss a topic, collaborate, or for a coffee.</p>
    </stack>
  </stratum>

	<stratum>
    <row>
  	  <item>
  			<h2>What's my story?</h2>
        <p>I'm originally from the United States. I went to the University of Illinois of Urbana-Champaign where I studied architecture and human-computer interaction. I was attracted to the Netherlands by its quality of life and its culture.</p>
  		</item>
  	  <item>
  			<h2>What is a design technologist?</h2>
        <p>A design technologist is also known as a full-stack designer. I have a strong technical and non-technical skillset centered on design but also reaches into research and development. In collaborative environments, I work in a deeply-integrated manner with researchers and engineers. In more independent settings, I am capable of flexing between the three domains.</p>
  		</item>
    </row>
	</stratum>

	<stratum>
	  <stack>
			<h2>How can I help you?</h2>
      <p>I'm available to freelance. I also enjoy chats.</p>
		</stack>
    <row adaptive>
      <item>
        <h3>Join your team</h3>
        <p>I offer freelance and consulting services to help you achieve your goals. If you're a non-profit or not-for-profit working on a social cause I support, I offer my services pro bono or at a reduced rate.</p>
      </item>
      <item>
        <h3>Discuss</h3>
        <p>I enjoy discussing issues around technology and society. I'm interested in conversational interfaces, sociable media, cooperative living, and trust systems.</p>
      </item>
      <item>
        <h3>Grab a coffee</h3>
        <p>If you're in the Amsterdam area and you'd like to meet up, I'd be more than happy to do so over a cup of coffee.</p>
      </item>
    </row>
	</stratum>

  <stratum>
    <stack>
      <h2>How can you reach me?</h2>
      <p>You can simply email me at <a href="mailto:hello@chriswan.me">hello@chriswan.me</a>.</p>
    </stack>
  </stratum>
</body>

</html>
