

stratum#navigation {
  background-color: #F9F9F9;
  border-bottom: 1px solid #EEE;
}

stratum#about-me {
  background-color: #F9F9F9;
  font-size: 1.5em;
}

stratum#thoughts,
stratum#work {
  border-top: 1px solid #EEE;
}

stratum#end {
  border-top: 1px solid #EEE;
}

.project-description {
  h2 {
  }
}

// Desktop/tablet
@media (min-width: 641px) {
  .project {
    background-color: #FFF;

    & > stack {
      border-right: 1px solid #EEE;
    }

    & > stack:last-child {
      border-right: none;
    }

    /*
    &:nth-child(odd) > stack:last-child {
      border-right: 1px solid #CCC;
    }
    */
  }

  /*
  row.project:nth-child(odd) {
    flex-direction: row-reverse;
    .project-description {
      text-align: right;
      align-items: flex-end;
    }
  }
  */
}

// Mobile
@media (max-width: 640px) {
  .project {
    .project-image {
      border-bottom: 1px solid #EEE;
    }
  }
}

.highlighted-post {
  background-color: #FFF;

}





a {
  font-size: 1em;
  line-height: 1.6em;
  color: #0084FF;
  text-decoration: none;
  &:hover {
    color: #6bb7ff;
  }
}

a.bubble {
  border: 1px solid #0084FF;
  padding: 0.5em 1em;
  border-radius: 4em;
  transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 0px 0px rgba(0,65,140,0.2);

  margin-left: auto;
    position: relative;
    top: 0em;

  &:hover,
  &:active {
    box-shadow: 0px 4px 16px 0px rgba(0,65,140,0.3);
    background-color: #0088FF;
    color: #FFF;
  }
}

h1 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  letter-spacing: -0.03em;

  margin-bottom: 0.2em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: -0.02em;

  margin-bottom: 0.2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4em;
  letter-spacing: -0.02em;
  margin-bottom: 0.2em;
}

h4 {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: +0.04em;
  line-height: 1.6em;

  margin-bottom: 1em;
}

p {
  font-size: 1em;
  letter-spacing: +0.008em;
  line-height: 1.6em;
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }

  &.light {
    opacity: 0.5;
  }
}

ul {
  margin-bottom: 1em;

  li {
    list-style: disc;
    font-size: 1em;
    line-height: 1.6em;
    margin-left: 1em;
  }
}

blockquote {
  margin-left: 1em;
}

badge {
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: +0.05em;
  font-weight: 600;
  padding: 0.1em 0.4em;
  color: #FFF;
  background-color: #0084FF;
  border-radius: 4px;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;

  vertical-align: text-top;
}


.post-corpus {
  font-size: 1.2em;
	@media (max-width: 680px) {
		font-size: 1em;
	}
	p, ul, ol {
		margin-bottom: 1em;
	}
}

.post-date {
  font-size: 1em;
  font-weight: 200;
  margin-right: 1em;
}

.post-tag {
  font-size: 1em;
  font-weight: 400;
  margin-right: 1em;
}

.post-header {
  font-size: 2em;
  user-select: none;
	@media (max-width: 680px) {
		font-size: 1em;
	}
  h1 {
    font-weight: 600;
    line-height: 1.2em;
  }
  h4 {
    font-size: 1.2rem;
  }
}
